# Python
venv/
pipelinevenv/
scrapervenv/
ragvenv/
fastapivenv/
__pycache__/
*.pyc
.env
# to recreate venv:
# python -m venv pipelinevenv
# pipelinevenv\Scripts\activate
# pip install requirements.txt

# Data files
# data/raw/ no actually for this project i wanna have the datasets shown, plus theyre public data anyways
data/processed/
*.parquet
# *.csv
# since raw data and artifacts shouldn't be published to github
# got data from kaggle.com

# Build artifacts
dist/
node_modules/

# IDE
.DS_Store
.vscode/