# Python
venv/
pipelinevenv/
__pycache__/
*.pyc
.env

# Data files
data/raw/
data/processed/
*.parquet
*.csv
# since raw data and artifacts shouldn't be published to github

# Build artifacts
dist/
node_modules/

# IDE
.DS_Store
.vscode/