fastapi==0.136.0
mangum==0.21.0
uvicorn==0.44.0
boto3==1.42.91
pandas==3.0.2
numpy==2.4.4
pyarrow==23.0.1
pinecone>=3.0.0
langchain-groq==1.1.2
langchain==1.2.15
langgraph==1.1.8
python-dotenv==1.2.2
httpx==0.28.1
huggingface_hub>=0.23.0
pydantic==2.13.2
